:host {
    display: block;
    background-color: var(--elements-bg-primary);
    border-radius: var(--global-border-radius);
    display: grid; 
    grid-template-columns: .3fr .7fr;
    box-shadow: var(--generic-shadow);
}

:host(.on-dashboard-data){
    @media screen and (min-width: 576px) and (max-width: 767px) {
        grid-template-columns: 1fr;
    }
}

.profile-info{
    h2 {
        margin-bottom: .5rem;
    }   
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.profile-img {

    border-radius: var(--global-border-radius);
    overflow: hidden;
    img{
        width: 100%;
    }
}