:root{
    display: block;
    width: 100%;
    height: 100%;
}

.diet-container{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem; 
}

.daily-macro-container{
    background-color: var(--elements-bg-primary);
    border-radius: var(--global-border-radius);
    padding: 1rem 0rem; 
}

.scheduled-meals-list{
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 1.5rem;
}

@media screen and (min-width: 768px) {
    .scheduled-meals-list{
        grid-template-columns: 1fr 1fr;
        column-gap: 1.5rem;

    }
}